{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "comma-spacing": [2, { "before": false, "after": true }],
    "dot-notation": 2,
    "eqeqeq": 1,
    "linebreak-style": [2, "unix"],
    "no-alert": 1,
    "no-duplicate-imports": 1,
    "no-multi-spaces": 1,
    "object-curly-spacing": [1, "always"],
    "prefer-const": 1,
    "semi": [2, "always"],
    "no-unused-vars": [
      2,
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  }
}
